{% extends "base.html" %}

{% block title %} Contacts {% endblock %}

{% block content %}
	
	<div class="contact">
		<div class="container">
			<h1>Contact us</h1>
			<p>
				We’re here to help you enhance your cybersecurity and protect your organization from digital threats. If you have any questions, need assistance, or would like to discuss your cybersecurity needs, please reach out to us using the contact information below. <br> <br>

				Get in Touch <br> <br>

				Phone: +963 5342 6555 <br>
				Email: HackDev23@gmail.com <bR>
				Address: New-Your city, Lincoln street, 82 <br>
			</p>
			<form action="#" method="POST">
				<input type="text" name="email" placeholder="your email"> <br>
				<textarea name="message" placeholder="your message"></textarea> <br>
				<button type="submit">send</button>
			</form>
		</div>
	</div>

{% endblock %}